body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 200px;
    padding: 1.5rem;
    text-align: center;
}

h2 {
    line-height: 1;
    color: #0080FF;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: #000000;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 3rem;
    transition: all 0.3s;
    background-color: #FFFFFF;
    border: 2px solid #0080FF1A;
    box-shadow: 0 0 25px 0 #0080FF1A;
}

button:hover {
    color: #0080FF;
    border: 2px solid #0080FF;
    background-color: #0080FF1A;
}